<footer class="main__footer">
    <a href="#" class="btn btn-up">
        <img src="./assets/images/ico-arrow.svg" alt="go up">
    </a>
    <nav class="secundary-menu">
        <ul class="menu__list">
            <li>Articles</li>
            <li>Books</li> 
            <li>Events</li>  
            <li>Reasons</li>
            <li>Tips</li>
        </ul>
        <ul class="menu__list">
            <li>Twitter
            <li>Instagram</li>     
            <li>Mastodon.social</li>
        </ul>
    </nav>
    <div class="footer__info-container">
        <small class="footer__info ">©2017</small>
        <small class="footer__info footer__info-components">we <span class="heart">❤︎</span> <spam class="components"> components</spam></small>
    </div>
</footer>
