<footer class="main__footer">
    <a href="#" class="btn btn-up">
        <img src="../../assets/images/ico-arrow.svg">
    </a>
    <nav>
        <ul>
            <li>Articles</li>
            <li>Books</li> 
            <li>Events</li>  
            <li>Reasons</li>
            <li>Tips</li>
        </ul>
        <ul>
            <li>Twitter
            <li>Instagram</li>     
            <li>Mastodon.social</li>
        </ul>
    </nav>
    <small>©2017</small>
    <small>we ❤︎ components</small>
</footer>