<main>
    <section class="main__section first-section">
        <p class="section__up-title">Insomnia Tips</p>
        <h2 class="section__title">Looking Through A Window</h2>
        <p class="section__description">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <a href="#" class="btn btn-inactive">Go</a>
    </section>
    <section class="main__section second-section">
        <h2 class="section__title">3 Reasons To Purchase</h2>
        <ul class="section__items">

            <li class="item item__1">
                <h3 class="item__title">Ut sed metus</h3>
                <p class="item__description">Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="item item__2">
                <h3 class="item__title">Curabitur ac erat</h3>
                <p class="item__description">Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="item item__3">
                <h3 class="item__title">Morbi dictum</h3>
                <p class="item__description">Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <a href="#" class="btn btn-default">More reasons</a>
    </section>
</main>
