.header__claim{
    width: 290px;
    height: 110px;
    font-family: $font-primary;
    font-size:42px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    color: $color-light-400;

    @media all and (min-width:768px) {
        width: 690px;
        height: 212px;
        font-size: 80px;
        line-height: 106px;
    }

}

.header__sub-claim {
    height: 21px;
    font-family: $font-secundary;
    font-size: $font-size-secundary;
    color: $color-light-400;
    text-align: center;
    margin: 10px auto; 

    @media all and (min-width:768px) {
        height: 32px;
        font-size:24px;
        margin: 20px auto;
    }
}