.section__items {
    margin: 45px auto 0;
    display:grid;
    grid-template-rows: 93px 93px 93px;
    grid-gap:45px;
    @media all and (min-width:768px) {
        margin: 60px auto 0;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 28px;

    }
}
.item {
    width: 190px;
    text-align: center;
    @media all and (min-width:768px) {
        width: 213px;
    }
}

    
.item__2{
    margin: 0 auto;
    @media all and (min-width:768px) {

    }
}

    .item__1 {
        margin: 0 auto;
    }

    .item__3 {
        margin: 0 auto;
    }



.item__title {
    font-family: $font-primary;
    font-size: $font-size-primary;
    font-weight: 700;
    color: $color-dark-400;
    text-align: center;
}

.item__description {
    @include basicText();
}

