.section__items {
    margin: 45px auto 0;
    display:grid;
    grid-template-rows: 93px 93px 93px;
    grid-gap:45px;
    @media all and (min-width:768px) {
        margin: 60px auto 0;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 28px;
    }
    @media all and (min-width:768px) {
        grid-gap:30px;
        margin: 45px auto 0;
        grid-gap:26px;
    }
}
.item {
    width: 190px;
    text-align: center;
    @media all and (min-width:768px) {
        width: 213px;
    }
    @media all and (min-width:1280px) {
        width: 353px;
        
    }
}

    
.item__2{
    margin: 0 auto;

}

.item__1 {
    margin: 0 auto;
}

.item__3 {
    margin: 0 auto;
}



.item__title {
    font-family: $font-primary;
    font-size: $font-size-primary;
    font-weight: 700;
    color: $color-dark-400;
    text-align: center;
    @media all and (min-width:768px) {
        font-size: $font-size-primary-tablet;  
    }   
}

.item__description {
    @include basicText();
    @media all and (min-width:768px) {
        font-size: $font-size-primary-tablet;  
    }
}

