.main__section {
    padding: 30px 15px 45px;
}
    
.second-section {
    background: $color-primary-200;
    text-align: center;
    display:grid;
    grid-template-rows: 30px 1fr 60px;
    grid-gap: 45px;
}



.section__up-title {
    height: 30px;
    font-family: $font-secundary;
    font-size: $font-size-secundary;
    color: $color-primary-300;
}

.section__title {
    font-family: $font-primary;
    font-size: $font-size-title;
    font-weight: 700;
    color: $color-dark-400;
}

.section__description {
    @include basicText();
    color: $color-dark-300;
    margin: 15px auto 30px;
}

