.main__footer {
    background-color: $color-primary-500;
    position: relative;
    color: $color-light-400;
    text-align: center;
    padding-bottom: 45px;
    font-family: $font-secundary;
    @media all and (min-width:768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        justify-content: space-between;
        padding: 0 39px;
    }
    @media all and (min-width:1280px) {
        justify-content: center;
    }
}

.secundary-menu {
    padding-top:60px;
    font-size: $font-size-secundary;
    text-transform: uppercase;
    line-height: 30px;
    @media all and (min-width:768px) {
        padding:45px 0;
        order:1;
        display:flex;
        flex-direction: row;
    }
}

.footer__info-container{
    display: flex;
    flex-direction: column;
    @media all and (min-width:768px) {
        width: 210px;
        padding: 45px 0;
    }
    @media all and (min-width:1280px) {

        width: 160px;
    }
}


.menu__list {
    margin-bottom: 30px;
    @media all and (min-width:768px) {
        width: 160px;
        margin-bottom: 0px;
    }
}

.heart {
    color:$color-secundary-400;
}