/*colors*/

$color-primary-500: #304268;
$color-primary-400:#0271bc;
$color-primary-300: #8ccbea;
$color-primary-200: #eff9ff;

$color-secundary-400:#f26002;

$color-light-400:#fff;
$color-dark-400:#000;
$color-dark-300: #4a4a4a;

/*fonts*/

$font-primary:'Roboto Slab', serif;
$font-secundary:'Roboto', sans-serif;

$font-size-primary: 18px;
$font-size-primary-tablet: 20px;
$font-size-secundary:16px;
$font-size-btn:20px;
$font-size-title:24px;
$font-size-title-tablet:26px;